<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <!-- 콘솔 출력 Appender 설정 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- 로그 패턴 설정 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 파일 롤링 Appender 설정 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <!-- 로그 패턴 설정 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 매일 자정에 로그 파일 롤오버 설정 -->
            <fileNamePattern>./logs/myapp-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory> <!-- 30일 동안 로그 파일 보관 -->
        </rollingPolicy>
    </appender>

    <!-- 루트 로거 설정 -->
    <root level="info">
        <appender-ref ref="console"/> <!-- 콘솔에 로그 출력 -->
        <appender-ref ref="FILE"/> <!-- 파일에 로그 출력 -->
    </root>

    <!-- 특정 로거 레벨 설정 -->
    <logger name="jex" level="debug"/> <!-- 'jex' 패키지에 대한 디버그 레벨 로그 설정 -->
    <logger name="com" level="debug"/> <!-- 'com' 패키지에 대한 디버그 레벨 로그 설정 -->
</configuration>
