packages:
  yum:
    gcc-c++: []  # bcrypt 같은 패키지를 빌드하는데 필요한 컴파일러
    make: []     # 빌드 도구

sources:
  /home/ec2-user: http://download.redis.io/releases/redis-7.2.5.tar.gz

commands:
  redis_build:
    command: "make"
    cwd: "/home/ec2-user/redis-7.2.5"

  redis_config_001:
    command: "sed -i -e 's/daemonize no/daemonize yes/' redis.conf"
    cwd: "/home/ec2-user/redis-7.2.5"

  redis_config_002:
    command: "sed -i -e 's/# maxmemory <bytes>/maxmemory 500MB/' redis.conf"
    cwd: "/home/ec2-user/redis-7.2.5"

  redis_config_003:
    command: "sed -i -e 's/# maxmemory-policy volatile-lru/maxmemory-policy allkeys-lru/' redis.conf"
    cwd: "/home/ec2-user/redis-7.2.5"

  redis_server:
    command: "src/redis-server redis.conf"
    cwd: "/home/ec2-user/redis-7.2.5"